/* Temp Stuff */

kp-input::part(label-wrapper),
kp-select::part(label-wrapper),
kp-checkbox::part(label-wrapper),
kp-radio::part(label),
kp-slider::part(label) {
    width: 140px;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

kp-theme {
    background: var(--base-surface);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
