/* Temp Stuff */
.test {
    background: var(--base-surface);
    padding: var(--spacing-2x-large);
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
}

.card-wrapper {
    display: flex;
    gap: var(--spacing-medium);
    flex-wrap: wrap;
}

section {
    display: inline-flex;
    align-items: center;
    gap: var(--spacing-large);
    width: 100%;
}

section > div {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
    width: 100%;
}

kp-input::part(label-wrapper),
kp-select::part(label-wrapper),
kp-checkbox::part(label-wrapper),
kp-radio::part(label),
kp-slider::part(label) {
    width: 140px;
}

kp-card h5 {
    margin: 0;
}

kp-card {
    flex: 1;
}

kp-tabs {
    width: 100%;
}

.example-grid-tab {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-medium);
}

.example-grid-tab > kp-panelbar {
    min-width: 300px;
}
